<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
<div>
    <a href="http://localhost:8080/auth/GOOGLE">구글 로그인</a>
</div>
<div>
    <a href="http://localhost:8080/auth/KAKAO">카카오 로그인</a>
</div>
<div>
    <a href="http://localhost:8080/auth/NAVER">네이버 로그인</a>
</div>
<div>
    <a href="http://localhost:8080/auth/GITHUB">깃허브 로그인</a>
</div>
</body>
</html>