<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        a {
            cursor: pointer;
        }

        #socialLoginDiv > div {
            margin: 5px;
        }
    </style>
</head>
<body>
<div id="socialLoginDiv"></div>
<script>
    init();

    function init() {
        let socialLoginType = ['GOOGLE', 'KAKAO', 'NAVER', 'GITHUB'];
        let socialLoginTypeKor = ['구글', '카카오', '네이버', '깃허브'];
        const socialLoginDiv = document.getElementById("socialLoginDiv");
        const createSocialLogin = () => {
            for (let i = 0; i < socialLoginType.length; i++) {
                const div = document.createElement('div');
                const loginLink = document.createElement('a');
                loginLink.addEventListener('click', () => {
                    locationSocialLoginPage(socialLoginType[i]);
                });
                loginLink.innerText = socialLoginTypeKor[i] + ' 로그인';
                div.append(loginLink);
                socialLoginDiv.append(div);
            }
        }
        createSocialLogin();
    }

    function locationSocialLoginPage(socialLoginType) {
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:8080/auth/' + socialLoginType,
                type: 'GET',
                success: function (data) {
                    console.log(data);
                    location.href = data;
                }
            });
        });
    }

</script>
</body>
</html>