<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Confirm</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="login-result"></div>
<script>
    let socialLoginType = undefined;
    $(document).ready(function () {
        $.ajax({
            url: "/auth/success",
            type: 'GET',
            success: function (data) {
                console.log(data);
                const msg = $('#login-result');
                socialLoginType = data.socialLoginType;
                msg.text(socialLoginType + ' 로그인 성공!');
            }
        });
    });

</script>
</body>
</html>