<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Confirm</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="login-result"></div>
<div id="logout-div"></div>
<script>
    let socialLoginType = undefined;
    $(document).ready(function() {
        $.ajax({
            url: "/auth/success",
            type: 'GET',
            success: function (data) {
                const msg = $('#login-result');
                socialLoginType = data.socialLoginType;
                msg.text(socialLoginType + ' 로그인 성공!');
                const logout = document.createElement('button');
                logout.innerText = socialLoginType + " 로그아웃";
                logout.setAttribute('onclick', 'socialLogout("' + socialLoginType + '")');
                $(`#logout-div`).append(logout);
            }
        });


        function socialLogout(socialLoginType) {
            console.log('함수 확인 : ' + socialLoginType);
            // 로그아웃 함수 추가
        }
    });

</script>
</body>
</html>